<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <appSettings>
    <add key="ValidRasterImageFilesExtensions" value=".jpeg|.jpg|.png|.bmp" />
    <add key="ValidDataFilesExtensions" value=".xml" />
    <add key="DropBoxAppKey" value="wpkkoi6x3r4y7b7" />
    <add key="DropBoxAppSecret" value="nelrwdtlle9meeb" />
    <add key="DropBoxAppFolderPath" value="/Rotture" />
  
    <add key="CategoriesCachePath" value="../Cache/Categories.xml" />
    <add key="CacheDirectoryPath" value="../Cache" />
  </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>

</configuration>